
<body class="htmlbody" >
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/cheetah.gif" class="cheetah">
          </a>
        <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#each Framework}}
                {{/each}}
                <li class="nav-item active">
                    <a id class="nav-link" href="#">Admin Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">JavaScript <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">jQuery <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">CSS <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">HTML <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Node <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    
    <div class="container" class="htmlhead">
        <h1 class="html">{{framework_name}}</h1>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 18rem; background-color:#B0C4DE;">
                <div class="card-header">
                    {{subject_name}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> < a > : Defines a hyperlink </li>
                    <li class="list-group-item"> < audio > : Defines sound content </li>
                    <li class="list-group-item"> < b >	: Bold text </li>
                    <li class="list-group-item"> < body > : Defines body element </li>
                    <li class="list-group-item"> < br > : Defines a break </li>
                    <li class="list-group-item"> < div > : Defines a section in a document </li>
                    <li class="list-group-item"> < !DOCTYPE > : Define document type </li>
                    <li class="list-group-item"> < footer > : Defines a footer for section or page </li>
                    <li class="list-group-item"> < h1 > to < h6 > : Defines header 1 to header 6 </li>
                    <li class="list-group-item"> < head > : Defines information about document </li>
                    <li class="list-group-item"> < header > : Defines a header for section or page </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                </ul>
                <div class="card-body">
                    <a href="{{documentation_url}}" class="card-link">Documentation</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 18rem; background-color:#bbb;">
                <div class="card-header">
                    {{subject_name}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> < html > : Defines an html document</li>
                    <li class="list-group-item"> < iframe > : Defines inline sub window</li>
                    <li class="list-group-item"> < img > : Defines an image</li>
                    <li class="list-group-item"> < li > : Defines a list of items</li>
                    <li class="list-group-item"> < link > : Defines a resource reference</li>
                    <li class="list-group-item"> < meta > : Defines meta information</li>
                    <li class="list-group-item"> < ol > : Defines an ordered list</li>
                    <li class="list-group-item"> < p > : Defines a paragraph</li>
                    <li class="list-group-item"> < script > : Reference to js file</li>
                    <li class="list-group-item"> < section > : Defines a section</li>
                    <li class="list-group-item"> < span > : Defines a section</li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                </ul>
                <div class="card-body">
                    <a href="{{documentation_url}}" class="card-link">Documentation</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="width: 18rem; background-color:#778899;">
                <div class="card-header">
                    {{subject_name}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> < src > : Defines a media source </p>
                    <li class="list-group-item"> < style > : Reference to css file </p>
                    <li class="list-group-item"> < table > : Defines a table </p>
                    <li class="list-group-item"> < tbody > : Defines a table body </p>
                    <li class="list-group-item"> < td > : Defines a table cell </p>
                    <li class="list-group-item"> < tfoot > : Define a table footer </p>
                    <li class="list-group-item"> < th > : Defines a table header </p>
                    <li class="list-group-item"> < thead > : Defines a table head </p>
                    <li class="list-group-item"> < title > : Defines document title </p>
                    <li class="list-group-item"> < tr > : Defines table row </p>
                    <li class="list-group-item"> < ul > : Defines unordered list </p>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                    <li class="list-group-item"> < example > : Lorem ipsum yada yada yada </li>
                </ul>
                <div class="card-body">
                    <a href="{{documentation_url}}" class="card-link">Documentation</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal  area-->
<!-- Button trigger modal -->
<h6 type="text" data-toggle="modal" data-target="#myModal">.toUpperCase()</h6>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">.toUpperCase()</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="modal-body">
            <h6>Description</h6>
            <p>The toUpperCase() method returns the calling string value converted to uppercase (the value
                will be converted to a string if it isn't one).</p>
            <h6>Example</h6>
            <img src="/assets/images/example.png" width="100%" height="100px">
            <hr>
            <h6>More info</h6>
            <ul>
                <li><a href="#">MDN</a></li>
                <li><a href="#">W3schools</a></li>
            </ul>
                    
        </div>
    </div>
</div>

    <script type="text/javascript" src="/js/frameworks.js">
        
    </script>
</body>
